# Python
venv/
__pycache__/
*.pyc
db.sqlite3
*.log

# Django
media/
staticfiles/

# Environment
.env
.env*.local
.env.production

# Node
node_modules/
.next/
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

